.chatbot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  min-height: 85vh;
  padding: 1rem;
  box-sizing: border-box;

  .chatbot-wrapper {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    max-width: 480px; 
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }
}

.chatbot-layout {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.left-panel {
  flex: 1;
  background: linear-gradient(to bottom, #f8f9fa, #f8f9fa);
  border-radius: 16px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;

  .headline {
    text-align: left;

    .sub-text {
      font-size: 2rem;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .main-title {
      font-size: 8rem;
      font-weight: 800;
      color: #e99899;
      letter-spacing: -1px;
    }
  }

  .notice-text {
    font-size: 0.85rem;
    color: #999;
    text-align: right;
  }
}