.skin-result-container {
  display: flex;
  gap: 2rem;
  padding: 5rem 20rem;

  .left-section {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;   // 가로 가운데 정렬
    align-items: center;       // 세로 가운데 정렬
  }

  .right-section {
    flex: 2;
    max-width: 60%;
  }

  .error-section {
    text-align: center;
    padding: 2rem;
  }
}

